body {
}

#contacts{
    width:65%;
    float:left;
}

#icon{
    height: 20px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

#contactImage{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
}

#note{
    font-style: italic;
}


.counselingLink {
    
    font-size: 20px;
}