@model IEnumerable<ArticleViewModel>
@{
    ViewBag.Title = "AllArticles";
}

<h2>БИБЛИОТЕКА</h2>

@foreach (var article in @Model)
{
    <div id="topArticles">
        <div id="title">
            @article.Title.ToUpper()
        </div>
        <div id="content">
            @article.Content.Substring(0, 350)
            <a href="ArticleDetails/@article.Id">[...]</a>
        </div>
        <div id="author">
            Автор: @article.Author
        </div>
    </div>
}