@model EventViewModel
@{
    ViewBag.Title = "EventDetails";
}

<h2>@Model.Name</h2>

<p>@Model.Description</p>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <input type="button" value="Join" />
    </div>
}

@*@Html.Partial("_JoinEvent")*@