@{
    ViewBag.Title = "About";
}
<div id="info">

    <h2>ЗА МЕН</h2>
    <p>
        <img id="aboutImage" src="../../about-image.jpg" />
        Казвам се Евгения Даракчиева и съм на 37г., омъжена, с две деца. Знам, че <span>те имат да изпълняват собствена мисия, а не тази на родителите си.</span> Пътят за постигане на щастие за децата е само един – постигане на щастие и за родителите.

    <p>Вярвам, че човек може непрестанно да подобрява знанията и уменията си във всяка една посока. Споделям с вас част от моите стъпки до момента:</p>

    <p>– Обучение в <span>магистърска степен в специалност “Психология”</span> във Великотърновски университет “Св. Св. Кирил и Методий”;</p>

    <p>– Обучение в курс по <span>психотерапия в модалности:</span> Психодинамични теории, Гещалт терапия, Позитивна психотерапия, Психодрама, Арт-терапия и Когнитивно-поведенческа терапия към Център за психологически тренинги и консултации Амарна;</p>

    <p>– Обучение в Ново хомеопатично училище по <span>класическа хомеопатия.</span></p>

    <p>– Обучение за доброволен <span>консултант по кърмене</span> и съосновател на Национална асоциация Подкрепа за кърмене;</p>

    <p>– Обучение в курс <span>“Трениране на успешни родители”</span> по метода на Томас Гордън;</p>

    <p>– Обучениe за <span>здравни грижи за LGBTIQ</span> общността: Health4LGBTI Training, съвместно с Европейската комисия;</p>

    <p>– Обучение в курс <span>“Хранителни нарушения”</span> към IAEDP Foundation и Асоциация Уникал;</p>

    <p>– Психотерапевтична практика, съвместно с Великотърновски университет;</p>

    <p>– Клинична практика в отделение по Психиатрия към Военномедицинска Академия – гр. София.</p>

    <p>
        Вярвам също, че когато човек намери своето призвание, се чувства удовлетворен и успява най-пълноценно да предаде знанията и опита си на търсещите подкрепа.

        Ние всички имаме различна индивидуалност и различни периоди, през които преминаваме (родителство, осъзнаване на различна сексуална ориентация, кариерно или личностно развитие, промяна в семейната среда и т.н.).
    </p>

    <p><span>Ако имате притеснения и трудности и искате да разберете как да се справите, имате моята подкрепа по пътя към промяна.</span></p>
</div>

@Html.Partial("_SideBar")


@section styles{
    @Styles.Render("~/Content/css")
    }