@{
    ViewBag.Title = "Home Page";
}

<div  class="jumbotron">
    <h2>ПСИХОЛОГИЧЕСКО КОНСУЛТИРАНЕ, ТРЕНИНГИ И ЛЕКЦИИ</h2>
    <p class="lead">за преодоляване натрудности и подобряване на живота</p>
</div>

@Html.Action("GetTopArticles")

@section styles{
    @Styles.Render("~/Content/home")
}