@model Sentio.Data.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "UserProfile";
}

<h2>Hello, @Model.Username.Substring(0, @Model.Username.IndexOf('@')).ToUpper()</h2>

@*@Html.Action("UserEvents")*@
