
@model IEnumerable<Sentio.Areas.Admin.Models.ArticleViewModel>
@foreach (var article in @Model)
{
    <div>
        Title: @article.Title
    </div>
    <div>
        Content: @article.Content
    </div>
    <div>
        Author: @article.Author
    </div>
}
