@model ArticleViewModel
    <h4>Comments</h4>

@*@using (Html.BeginForm("Comment", "Article",  FormMethod.Post))*
{
    @Html.AntiForgeryToken()
    <div id="comment-box">
        @Html.HiddenFor(m => m.CommentViewModel.ArticleId)
        @Html.TextAreaFor(m => m.CommentViewModel.Content, "Comment: ")
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}*@

@foreach (var comment in Model.Comments)
{
    <div id="comments">
        <p>@comment.Content</p>
    </div>
   
}