@model ArticleViewModel
    <h4>Comments</h4>

@*<div>
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments)
        {
            <div>@comment.Content</div>
            //user
        }
    }

</div>*@

@using (Html.BeginForm("Comment", "Article",  FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.HiddenFor(m => m.CommentViewModel.ArticleId)
        @Html.TextAreaFor(m => m.CommentViewModel.Content, "Comment: ")
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}
