@model EventViewModel

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("JoinEvent", "Profile", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.Description)
        <div>
            <input type="submit" value="Join" />
        </div>
    }

}
