@model EventViewModel

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("JoinEvent", "Profile", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)

        <div>
            <input type="button" value="Join" />
        </div>
    }

}
