
<h3>Онлайн консултиране</h3>

<input id="messageBox" type="text" />
<input id="sendButton" type="button" value="Submit message" />
<div id="messages"></div>

@section scripts{
    @Scripts.Render("~/bundles/signalr")
    <script src="/signalr/hubs"></script>
    <script>
        $(function () {
            'use strict'

            const chatHub = $.connection.onlineCounseling;

            const newMessageClient = function (message) {
                $('#messages').append(message)
            }

            const sendMessageClient = function () {
                const message = $('messageBox').val()
                chatHub.server.sendMessage(message)
            }

            $('#sendButton').click(() => {
                sendMessageClient()
            })

            chatHub.client.newMessage = newMessageClient

            $.connection.hub.start()
        })
    </script>

}